h2{
    margin-top:120px;
    margin-bottom:60px;
    font-family:"Albert Text";
    text-align:center;
    color:#3493eb;
    font-size: 50px;
    text-shadow: 2px 4px 30px #3493eb;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom:12px;
    width: 100%;
    font-size: 13px;
    color: white;
    text-align: center;
}
body{
    height: 100%;
    background-color: black;
    
}
.frame{
    

}
iframe{
    display: block;
    margin: 0 auto;
}
